<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <h2>URL Shortner</h2>
    <div class="container">
        <div class="input-form">
            <form method="POST" action="/url">
            <h3>Enter Your Original URL</h3>
            <input 
            type="text" 
            name="url" 
            placeholder="https://example.com" />
            <button type="submit">Generate</button>
        </form>
        <% if (locals.id) { %>
            <p>URL Generated : https://trimify.onrender.com/url/<%= id %></p>
        <% } %>
    </div>
<div class="table-wrapper">
    <% if (locals.urls) { %>
    <table class="fl-table">
        <thead>
        <tr>
                                <th class="col col-1">S.NO</th>
                                <th class="col col-2">ShortID</th>
                                <th class="col col-3">Redirect</th>
                                <th class="col col-4">Clicks</th>
        </tr>
    </thead>
    <tbody>
        <% var i=1; urls.forEach(url => { %>   
                    <tr class="table-row"   >
                        <td ><%= i %></td>
                        <td ><%= url.shortId %></td>
                        <td ><%= url.redirectURL%></td>
                        <td ><%= url.visitHistroy.length %></td>
                        <%  i++;%>  
                    </tr>
                    <% }) %>
                </tbody>
                
            </table>
        </div>
        <% } %>
    </div>
    </body>
    </html>